{{#if removedTutorial}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Tutorial has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}} 

<div class="row">
  <i  class="text-center">Welcome {{userEmail}}!</i> 
    <div class="col-65 text-center"><h5>All Tutorials</h5></div>
    <i class="d-flex">Number of users: {{userNumber}}</i>    
    <div class="col-65 d-flex justify-content-start">
        <a href="/post-tutorial" type="button" class="btn btn-outline-primary">+ add new Tutorial</a>
        {{#with userId}}
        <a href="/user-tutorials/{{this}}" type="button" class="btn btn-primary">My Tutorials</a>
        {{/with}}
           
    </div>    
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tutorial</th>
      <th scope="col"><center>Category</center></th>

      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}  
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.title}}</td>
      <td><center><i>{{this.private}}</i></center></td>

      <td class="text-center">
          <a href="/tutorials/{{this.id}}" type="button" class="btn btn-light btn-small "><i class="bi bi-eye"> View Tutorial</i></a>
          <a href="" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"> Edit</i></a>
          <a href="" type="button" class="btn btn-light btn-small" ><i class="bi bi-person-x"> Delete</i></a> 
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>